{% extends "partials/page.html" %}

{% block head %}
    <title>Askama example - with embed</title>
{% endblock %}

{% block body %}

    {% embed "partials/section.html" %}
        {% block title %}
            <h1>News</h1>
        {% endblock %}

        {% block content %}
            <img src="https://picsum.photos/300/200"/>
        {% endblock %}


        {% block tags %}
            <a href="/tags/nature">#nature</a>
            <a href="/tags/fotography">#fotography</a>
            <a href="/tags/more_tags">#more-tags</a>
        {% endblock %}
    {% endembed %}

    {% embed "partials/section.html" %}
        {% block title %}
            <h1>News</h1>
        {% endblock %}

        {% block content %}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex unde labore quasi sunt quas deserunt? Natus, quae ullam quas consequuntur itaque fugit? Recusandae voluptas exercitationem placeat iure quas dignissimos?</p>
            <p>Quidem provident molestiae porro at iusto dolor tenetur veniam minima reiciendis consequuntur ab, fugit alias vero possimus! Amet iste rerum architecto, recusandae a saepe ut culpa, dignissimos quia laudantium incidunt.</p>
            <p>Est voluptate soluta sunt pariatur sint facilis, et debitis fugit reprehenderit earum necessitatibus harum minus eaque ducimus. Sunt, consectetur esse? Obcaecati corrupti adipisci magnam pariatur aut enim id quibusdam laboriosam.</p>
            <p>Eligendi, alias optio dolore culpa, doloribus facilis eveniet necessitatibus dolores asperiores, in consequuntur inventore. Nulla rem veritatis fuga harum, optio voluptates dicta autem eum. Assumenda ducimus velit sequi doloribus ea.</p>
            <p>Explicabo sint accusamus minus vel laboriosam fugiat fuga libero cumque praesentium possimus, et doloribus exercitationem error eius quasi? At nesciunt expedita quam maiores, amet voluptatibus quasi officia a quos laudantium.</p>
        {% endblock %}
        
    {% endembed %}

{% endblock %}
